<h1>Stupid Coaching</h1>

<h4>Ask your coach anything:</h4>

<div class="input-group mb-3 p-5">
  <form action="/answer" data-turbo="false">
  <input type="text" class="form-control" name="question">
  <input type="submit" id="basic-addon2" value="Ask!">
</form>
</div>
